@import "tailwindcss";

@theme {
  --color-bg: var(--bg);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-text: var(--text);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(238, 237, 235, 1);
  background-color: rgba(47, 54, 69, 1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --bg: rgba(47, 54, 69, 1);
  --card: rgba(238, 237, 235, 0.08);
  --primary: rgba(230, 185, 166, 1);
  --secondary: rgba(147, 145, 133, 1);
  --accent: rgba(165, 123, 93, 1);
  --success: rgba(136, 172, 161, 1);
  --error: rgba(125, 66, 69, 1);
  --text: rgba(238, 237, 235, 1);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes wing {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-4px);
  }
}

@keyframes head {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(26px);
  }
}

@keyframes right {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
}

@keyframes left {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-1deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(1deg);
  }
}
#beeLoader {
  animation: rotate 0.8s ease-in-out;
  transform: rotate(-90deg);
}

#wing {
  animation: wing 2s ease-in-out;
  transform: translateX(-4px);
}

#head {
  animation: head 1.5s ease-in-out;
  transform: translateX(26px);
}

#right {
  animation: right 2s ease-in-out infinite;
}

#left {
  animation: left 2s ease-in-out infinite;
}

@layer components {
  .btn {
    @apply flex h-fit px-3 rounded-md font-semibold py-1 items-center bg-text text-bg cursor-pointer hover:bg-text/95 hover:shadow-md;
  }
}
